<style>
body{
 background-color: #000000; /* Цвет фона веб-страницы */
}
h1 {
 background-color: RGB(0, 0, 0); /* Цвет фона под заголовком */
}
p {
 background-color: black; /* Цвет фона под текстом параграфа */
 color: white; /* Цвет текста */
}
p {
color: rgb(255, 255, 255); /* Цвет текста */}
p{font-family: 'Montserrat', sans-serif;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.map g:hover {
  fill: #fc0 !important;
  cursor: help;
}

.info_panel {
  background-color: rgba(255,255,255, .7);
  padding: .3em;
  font-size: .8em;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
}

.info_panel::first-line {
   font-weight: bold;
}
</style>
